@charset "UTF-8";

/* 로그인 영역 */
#login {
	display: flex;
	align-items: center;
	height: calc(100vh - 130px);
    margin-top: 90px;
	background: #f6f6f6;
}

#login .login_wrap {
	width: 650px;
	margin: 0 auto;
	padding: 60px 100px 80px;
	font-size: 16px;
	border-radius: 30px 0;
	background-color: #fff;
	box-sizing: border-box;
}

#login .login_wrap h2 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	font-family: "PBGothic";
}

#login .login_wrap .login_input {
	margin-top: 46px;
}

#login .login_wrap .login_input ul {
	border: 1px solid #bbb;
	padding: 22px 30px;
}

#login .login_wrap .login_input ul li {
	
}

#login .login_wrap .login_input ul li span {
	display: inline-block;
	width: 120px;
	line-height: 35px;
}

#login .login_wrap .login_input ul li input {
	width: 250px;
	font-size: 16px;
	line-height: 35px;
	cursor: text;
}

#login .login_wrap .login_input ul li:last-child {
	position: relative;
	padding-top: 44px;
}

#login .login_wrap .login_input ul li:last-child::before {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	top: 22px;
	right: -30px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #bbb;
}

#login .login_wrap .login_btn {
	margin-top: 20px;
}

#login .login_wrap .login_btn input {
	width: 100%;
	height: 70px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background-color: #023586;
}

#login .login_wrap .login_btn input:hover {
	background-color: #01255f;
	transition: all 0.2s;
}

#login .login_wrap .login_find {
	margin-top: 20px;
}

#login .login_wrap .login_find ul {
	/* width: 100%; */
	padding: 0 20px;
	/* box-sizing: border-box; */
	/* overflow: hidden; */
	/* position: relative; */
}

#login .login_wrap .login_find ul li {
	float: left;
	width: 33.333%;
	text-align: center;
	position: relative;
}

#login .login_wrap .login_find ul li:first-child {
	text-align: left;
}

#login .login_wrap .login_find ul li:last-child {
	text-align: right;
}

#login .login_wrap .login_find ul li a {
	color: #999;
	font-weight: bold;
}

#login .login_wrap .login_find ul li::before {
	content: "";
	position: absolute;
	top: 5px;
	right: -30px;
	width: 1px;
	height: 16px;
	background-color: #bbb;
}

#login .login_wrap .login_find ul li:first-child:before {
	right: 20px;
}

#login .login_wrap .login_find ul li:last-child:before {
	width: 0;
	height: 0;
}